DATABASE_URL=
AUTH_SESSION_SECRET=
ADMIN_EMAILS=admin1@example.com,admin2@example.com

NEXT_PUBLIC_SITE_URL=https://your-domain.example
SITE_URL=https://your-domain.example
OWNER_EMAIL=
# This email is for testing
QUOTE_TO_EMAIL=

GMAIL_APP_PASSWORD=

GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_CALENDAR_ID=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=https://your-domain.example/api/auth/google/callback

RESEND_API_KEY=
RESEND_FROM_EMAIL=

SERP_API_KEY=
BLOB_READ_WRITE_TOKEN=
PDF_READ_WRITE_TOKEN=

# verifying env set up
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=us-east-1
AWS_REKOGNITION_MIN_CONFIDENCE=80
AWS_REKOGNITION_BLOCK_LABELS=Explicit Nudity,Graphic Violence Or Physical Injury,Drugs,Hate Symbols
