@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, Inter;
}

/* ===== PROJECTS PAGE ===== */

.projectsPage {
  width: 100%;
  padding-bottom: 80px;
}

/* Hero section */
.heroWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.heroBox {
  background: #e0e0e0;
  width: 80%;
  padding: 60px 20px;
  text-align: center;
}

.heroBox h1 {
  font-size: 48px;
  font-weight: 700;
}

/* Projects section */
.projectsSection {
  width: 100%;
  text-align: center;
  margin-top: 80px;
}


.card {
 background: white;
 border-radius: 10px;
 transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.shadow {
 box-shadow:
             0 0  0 2px rgb(190, 190, 190),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}



/* Collage grid */
.collage {
  width: min(1100px, 92%);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 80px;           /* controls "unit" height */
  gap: 22px;
}

/* Tile */
.tile {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ddd;
  overflow: hidden;
  border-radius: 10px;
}

/* Responsive: collapse to 6 columns */
@media (max-width: 900px) {
  .collage {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 80px;
    gap: 16px;
  }
}

/* Responsive: collapse to 2 columns */
@media (max-width: 520px) {
  .collage {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 90px;
    gap: 12px;
  }
}

@keyframes zoomIn {
  from {
  transform: scale(0.6);
  }
  to {
  transform: scale(1);
  }
}

.animate-zoomIn {
  animation: zoomIn 0.4s ease forwards;
  }

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease forwards;
}



/* Transparency for Homepage Gallery Images  */
.transparent-gradient {
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

/* Button shadow on hover */
.button-shadow:hover {
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}


/* Annoying ass gallery images that wont format */

.flex-container {
  display: flex;
  flex-wrap: wrap;              
  gap: 16px;                    
}

.item {
  flex: 0 0 calc(33.333% - 16px); 
}



